<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IoT Maskinpark</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    
    <img src="images/kisspng-internet-of-things-narrowband-iot-data-open-connec-5be9f113cbead1.5139677215420582598353.png" alt="Logo" style="width:auto; height:100px;" class="m-4" />
    
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stat">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> statictics
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deviceadd">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> add devices
            </NavLink>
        </div>

    </nav>
</div>

