@page "/stat"
@rendermode InteractiveServer
<div class="bg-light  border border-primary">
	<div class="row text-center mt-2 text-decoration-underline">
		<h3>Staticstics Overview</h3>
	</div>
	<div class="row text-center  p-2 m-2">
		<h4 class="col">Total Devices: @TotalDevicesCount</h4>
		<h4 class="col">Total Devices Online: @TotalDevicesOnline</h4>
		<h4 class="col">Total Devices Edited/Added Today: @TotalDevicesEditedAndAddedToday</h4>
	</div>
</div>



