@page "/deviceaddvalue/{DeviceId:int}"
@rendermode InteractiveServer

<h3>SendValueToDevice</h3>
<br/>

@if (!IsSaved)
{
	<div>
		<h4>Add sensor value</h4>

		<EditForm Model="@newReading" OnValidSubmit="AddSensorValueReading">
			<div class="form-group">
				<label for="Value">Value</label>
				<InputNumber @bind-Value="newReading.Value" class="form-control" />
				<button type="submit" class="btn btn-primary">Add Reading</button>
			</div>
		</EditForm>
	</div>
}
else
{
	<div class="alert @StatusClass">@Message</div>
	<button type="button" class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</button>
	<button type="button" class="btn btn-outline-primary" @onclick="() => NavigateToSensorValues(DeviceId)">Back to sensor values</button>
}